// The following two lines import the default Sencha Touch theme. If you are building
// a new theme, remove them and the add your own CSS on top of the base CSS (which
// is already included in your app.json file).
@import 'sencha-touch/default';
@import 'sencha-touch/default/all';

// Custom code goes here..
.x-tabbar, .x-toolbar {
	
	background: -webkit-gradient(linear, left top, right top, from(gray), to(black)) !important;
	
}

.form-button {
	
	border-radius: 	0px		!important;
	//padding:		10 	!important;	
	
}

.x-form-fieldset-inner, .x-field {
	
	border-color:	black	!important;
	border-radius: 	0px		!important;
	padding:		10		!important;
	
}

.user-info {
	
	width:	100%;
	height:	auto;
	background: -webkit-gradient(linear, left top, right top, from(black), to(gray)) !important;
	color: white;
	
}

.logo {

    background: url('../../images/logo.png')  no-repeat center;
    width:140px; 
    height:40px
}

.invalid-field .x-form-field {
	
	background-color: rgb(255, 200, 200)
	
}

// Examples of using the icon mixin:
@include icon('help');
@include icon('user', 'U');